:root {
  --yale-blue: #253C78;
  --tang-blue: #2B59C3;
  --red: #E55050;
  --green: #5A827E
  font-size: 62.5%;
}

html {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  border: 1px solid;
  font-family: "Share Tech Mono", sans-serif
}

body {
  background-color: #FFF;
  margin: 0;
  height: 100%;
}

body > header {
  background-color: var(--yale-blue);
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  box-sizing: border-box;
  flex-shrink: 0;
}

main {
  flex: 1;
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

body > footer {
    background-color: var(--yale-blue);
  width: 100%;
  margin: 0;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  flex-shrink: 0;
}

input {
    width: 100%;
}

#results-div, #user-input {
padding: 2rem 0;
margin: 2rem 0;
font-size: 2rem;
text-align: center;
}

h1, #footer-text {
  color: #FFF;
  margin-left: 1rem;
}

#buttons {
  display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 0;
margin-bottom: 1rem;
column-gap: 1rem;